<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="!isLoading" align="center">
    <div class="example-button-row" *ngFor=" let menu of menus">
        <a routerLink="/jokelist/jokeapi/{{ menu }}"><button mat-stroked-button color="warn">{{ menu }}</button></a>
    </div>
<h2>Official Joke API</h2>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title >Random Joke</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
            {{ joke.setup }}
            </p>
            <p>
            {{ joke.punchline }}
            </p>
        </mat-card-content>
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="getRandomJoke()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card>
</div>
<br>
<app-chucknorris></app-chucknorris>